{% extends "base_generic.html" %}

{% block content %}
    <h1>Вся библиография</h1>
    <ul class="sidebar-nav">

      {% if user.is_authenticated %}
        <li><a href="{% url 'album-create' %}">Добавить альбом</li>
      {% else %}
        <li><a href="{% url 'login'%}?next={{request.path}}">Войдите,чтобы добавить альбом </a></li>
      {% endif %}
     </ul>
    {% if my_album_list %}
    <ul>

      {% for album in my_album_list %}
      <li>
        <a href="{{ album.get_absolute_url }}">{{ album.title }}</a> ({{album.author}})
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no album in the library.</p>
    {% endif %}
{% endblock %}
