{% extends "base_generic.html" %}

{% block content %}
    <h1>Список исполнителей</h1>
    <ul class="sidebar-nav">

      {% if user.is_authenticated %}
        <li><a href="{% url 'author-create' %}">Добавить исполнителя</li>
      {% else %}
        <li><a href="{% url 'login'%}?next={{request.path}}">Войдите,чтобы добавить исполнителя </a></li>
      {% endif %}
     </ul>

    {% if my_author_list %}
    <ul>

      {% for author in my_author_list %}
      <li>
        <a href="{{ author.get_absolute_url }}">{{ author.first_name}} {{author.last_name }}</a>
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no album in the library.</p>
    {% endif %}
{% endblock %}
